doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title chart2
    link(href="lib.css" rel="stylesheet")
    link(href="app.css" rel="stylesheet")

  body(style="margin:0")
    div.campaign-charts(style="width: 100%; background: #07b;")
      svg(id="svg0" width="500" height="350")
      svg(id="svg1" width="500" height="300")
      svg(id="svg2" width="500" height="300")
    svg(id="svg3" width="500" height="500")
    svg(id="svg4" width="200" height="200")
    svg(id="svg5" width="500" height="180")
    svg(id="svg6" width="600" height="300")
    script(src="lib.js")
    script(src="app.js")

    script.
      var lineData = [
        ['09/16/14', 102, 110],
        ['09/17/14', 110, 130],
        ['09/18/14', 112, 159],
        ['09/19/14', 126, 102],
        ['09/20/14', 114, 91],
        ['09/21/14', 105, 127],
      ]
      var barData = [
        ["AD UNIT 01", 451],
        ["AD UNIT 02", 108],
        ["AD UNIT 03", 74],
      ]
      var bubbleData = [
        ['Segment', 5234,  23, 14235],
        ['Segment', 2234,  8,  235],
        ['Segment', 8234,  13, 54235],
        ['Segment', 2634,  7,  235],
        ['Segment', 2034,  8.5,34235],
        ['Segment', 2834,  9,  4235],
      ]
      var donutData = {amount: 87}
      var areaData = [
        ['09/16/14', 102],
        ['09/17/14', 110],
        ['09/18/14', 112],
        ['09/19/14', 126],
        ['09/20/14', 114],
        ['09/21/14', 105],
      ]
      var overlapData = {
        labels: ['K_Segment', 'K_Other_One', 'K_One_More', 'K_Segment', 'K_Other_One', 'K_One_More'],
        data: [
          [100, 94, 84, 66, 64, 44],
          [91, 100, 70, 56, 54, 54],
          [93, 82, 100, 46, 54, 34],
          [76, 84, 84, 100, 44, 54],
          [61, 65, 60, 66, 100, 34],
          [63, 52, 56, 56, 74, 100],
        ]
      }

      arcChart('#svg0')
      lineChart('#svg1', lineData)
      barChart('#svg2', barData)
      bubbleChart('#svg3', bubbleData)
      donutChart('#svg4', donutData)
      areaChart('#svg5', areaData)
      overlapChart('#svg6', overlapData)

