doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title chart2
    link(href="lib.css" rel="stylesheet")
    link(href="app.css" rel="stylesheet")

  body(style="margin:0")
    div.campaign-charts(style="width: 100%; background: #07b;")
      svg(id="svg0" width="500" height="350")
      svg(id="svg1" width="500" height="300")
      svg(id="svg2" width="500" height="300")
    svg(id="svg3" width="500" height="500")
    svg(id="svg4" width="90" height="90")
    svg(id="svg5" width="340" height="90")
    svg(id="svg6" width="600" height="300")
    script(src="lib.js")
    script(src="app.js")

    script.
      arcChart('#svg0')
      lineChart('#svg1')
      barChart('#svg2')
      bubbleChart('#svg3')
      donutChart('#svg4', {amount: 87})
      areaChart('#svg5')
      overlapChart('#svg6')

